
<div id="one" class="mt-auto py-0 mb-0">
  <div class="container py-0 d-flex flex-column flex-md-row align-items-center ">
   <span class="m-0"> <img src="https://images.assets-landingi.com/cDjcr600MlRy4nOA/npoca.png" height="auto" width="110px" alt=""></span>
   <p id="npoca" class="text-white ml-0"> NPOCA</p>
   <ul class="mt-auto d-none  d-md-flex align-items-center">
     <li><a href="#">About Us</a></li>
     <li><a href="#">Mission</a></li>
     <li><a href="#">Vision</a></li>
     <li><a href="#">Expert Talk</a></li>
     <li><a href="#">Master Class</a></li>
     <li><a href="#">Recordings</a></li>
     <li><a routerLink="contact-us">Contact Us</a></li>
    </ul>
  </div>
  </div>

<footer id="two" class="footer mt-auto py-3">
  <div class="container d-flex">
    <span class="text-white">Copyright 2020. NPOCA All Rights Reserved.</span>
    <span class="ml-auto text-white">Site Map | Disclaimer | Privacy | Terms & Conditions</span>
  </div>
</footer>
