<!-- <div class="d-flex  align-items-center justify-content-center p-2 px-md-4 mb-3 bg-white border-bottom shadow-sm"> -->
 <!-- Just an image -->




  <nav id="nav" class="navbar navbar-expand-md">
    <a class="navbar-brand mr-auto" routerLink="home">
      <img src="assets/images/logo.png" width="75" height="75" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
          <mat-icon>horizontal_split</mat-icon>
        </button>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <div class="navbar-nav ml-auto">
    <a class="p-3 text-dark nav-link" routerLink="home" routerLinkActive="actives" >Home</a>
    <a class="p-3 text-dark nav-link"  routerLink="sessions" routerLinkActive="actives" >Sessions</a>
    <a class="p-3 text-dark nav-link" routerLink="speakers" routerLinkActive="actives">Speakers</a>
    <a class="p-3 text-dark nav-link" routerLink="carrier-info" routerLinkActive="actives">Carrier Info</a>
    <a class="p-3 text-dark nav-link"  routerLink="contact-us" routerLinkActive="actives">Contact Us</a>
  </div>
    </div>
    <div class="d-none d-lg-flex">
      <a href="https://www.facebook.com" target="blank">
        <img src="https://img.icons8.com/bubbles/50/000000/facebook-new.png"/>
      </a>
      <a href="https://www.youtube.com/" target="blank">
        <img src="https://img.icons8.com/bubbles/50/000000/youtube-play.png"/>
        </a>
      <a href="https://www.linkedin.com/" target="blank">
      <img src="https://img.icons8.com/bubbles/50/000000/linkedin.png"/>
    </a>
    </div>
  </nav>

<!-- </div> -->
